<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th colspan='2'></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', reports_task_path(task) %></td>
        <td><%= link_to 'Download', task.url if task.completed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ranking', reports_ranking_path %>
