<p id="notice"><%= notice %></p>

<h1>Listing Reports Downloads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports_downloads.each do |reports_download| %>
      <tr>
        <td><%= link_to 'Show', reports_download %></td>
        <td><%= link_to 'Edit', edit_reports_download_path(reports_download) %></td>
        <td><%= link_to 'Destroy', reports_download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Download', new_reports_download_path %>
